<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
      <add key="IN" value="C:\Users\fabri\Pictures\IN\St appolinar\"/>
      <add key="Modele_JPG_APN" value="{0} - Ile de ré - Photo APN {1} - Balade.jpg"/>
      <add key="Modele_JPG_SMARTPHONE" value="{0} - St appolinar - Photo Smartphone {1} - Balade.jpg"/>
      <add key="OUT" value="C:\Users\fabri\Images\2024 - Juin - St Appolinar"/>
      <add key="LOGS" value="C:\Users\fabri\Documents\Projets Visual Studio\RenommerPhoto_APNetSmarthphone\RenommerPhoto_APNetSmarthphone\LOGS\"/>
    </appSettings>
</configuration>
